<%= render 'layouts/mainHeader' %>
<div class="row">
  <div class="col-3">
    <h1>Pages#index</h1>
  </div>
<div class="col-3">
  <p>Find me in app/views/pages/index.html.erb</p>
</div>

<%= render 'layouts/mainFooter' %>