<header class="headroom">
<nav class="navbar">
  <ul class="navbar-list">
    <li>Login</li>
    <li>Signup</li>
    <li>Things</li>
    <li>Contact</li>
  </ul>
  <h1 class="logo">Nug.</h1>
</nav>
</header>
<div class="sub-navbar">
  <ul class="navbar-list">
    <li>Culture</li>
    <li>Business</li>
    <li>Health</li>
    <li>Food</li>
    <li class="right">Subscribe</li>
    <li class="right">Sign In</li>
  </ul>
</div>