<footer class="row">
<div class="col-1">
  <h1 class="logo">Nug.</h1>
</div>
<div class="col-2">
  <ul>
    <li>Culture</li>
    <li>Health</li>
    <li>Business</li>
    <li>Food</li>
  </ul>
</div>
<div class="col-3">
<div class="social">
<p>Twitter</p>
<p>Facebook</p>
</div>
<div class="newsletter">
<form action="" method="post">
<label for="newsletter">Email:</label>
  <input id="newsletter" type="email" name="email">
  <input type="submit" value="Save"> </form>


</footer>